In [1]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('D:/Datamining/SeoulBikeDataDel.csv', na_values = '?', names = ['Rented Bike Count', 'Hour', 'Temperature', 'Humidity', 
                                                                                      'Wind speed','Visibility', 'Dew point temperature', 
                                                                                      'Solar Radiation', 'Rainfall', 'Snowfall'])

df = dataset
df = df.replace('?', np.NaN)
df = df.dropna()
df

,Rented Bike Count,Hour,Temperature,Humidity,Wind speed,Visibility,Dew point temperature,Solar Radiation,Rainfall,Snowfall
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0

In [3]:
#分割資料集
#x_train = df.sample(frac=0.7)
#x_test= df[~df.index.isin(x_train.index)]
X = df.drop(['Rented Bike Count'], axis=1) #刪除欄位
Y = df['Rented Bike Count'] 
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [4]:
y_train

8415     995
5049    1195
8395    1448
1535     178
5518    1980
        ...
5734    1507
5191     828
5390     999
860      322
7270    1501
Name: Rented Bike Count, Length: 7008, dtype: int64

In [5]:
from sklearn.neighbors import KNeighborsRegressor

# 建立KNN模型
knnModel = KNeighborsRegressor(n_neighbors = 7)
# 使用訓練資料訓練模型
knnModel.fit(x_train, y_train)
# 使用訓練資料預測
predicted= knnModel.predict(x_test)
predicted

array([ 883.28571429, 1153.71428571, 1268.85714286, ...,  340.57142857,
        239.42857143,  778.28571429])

In [6]:
from sklearn.inspection import permutation_importance

results = permutation_importance(knnModel, x_test, y_test, n_repeats=30, random_state=0)
importance = results.importances_mean
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.2f' % (i,v))

Feature: 0, Score: 0.25
Feature: 1, Score: 0.29
Feature: 2, Score: 0.24
Feature: 3, Score: 0.01
Feature: 4, Score: 0.12
Feature: 5, Score: 0.25
Feature: 6, Score: 0.00
Feature: 7, Score: 0.00
Feature: 8, Score: 0.00

In [9]:
from sklearn.model_selection import GridSearchCV

parameters={'n_neighbors':[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49]}
kng=KNeighborsRegressor()

rgs=GridSearchCV(kng,parameters,cv=10)  #10折
rgs.fit(x_train,y_train)
 
print("最佳K值",rgs.best_params_)

最佳K值 {'n_neighbors': 7}

In [ ]:
from matplotlib import pyplot

pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

In [ ]:
# plot
pyplot.bar(range(len(importance)), importance)
x = [0,1,2,3,4,5,6,7,8,]
pyplot.title('SeoulBikeData KNN\'s feature importances')
x_labels = ['Hour','Temperature(°C)','Humidity(%)','Wind speed (m/s)','Visibility (10m)','Dew point temperature(°C)','Solar Radiation (MJ/m2)','Rainfall(mm)','Snowfall (cm)']
pyplot.xticks(x,x_labels,rotation ='vertical')
pyplot.show()

In [ ]:
from math import sqrt
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

print("MAE:", mean_absolute_error(y_test,predicted))
print("MAPE:", mean_absolute_percentage_error(y_test,predicted))
print("RMSE:", sqrt(mean_squared_error(y_test,predicted)))

In [ ]:
n=1
k_value_range = range(1,30)
k_value_scores = []
for k in k_value_range:
    n=n+1
    kng = KNeighborsRegressor(n_neighbors=n)
    kng.fit(x_train,y_train)
    y_pred = kng.predict(x_test)
    score=kng.score(x_test,y_test)
    print('n_neighbor值為',n,'的時候score為:%.3f'%(score))   
    k_value_scores.append(score)

In [ ]:
from matplotlib import pyplot

#最佳k值
pyplot.plot(k_value_range,k_value_scores, marker = 'o')
pyplot.title("Best k")
pyplot.xlabel("K_socre")
pyplot.ylabel("n_neighbor")
pyplot.show()

In [ ]:
X_train_del = df.drop(['Rented Bike Count','Humidity'], axis=1) #刪除欄位
Y_test_del = df['Rented Bike Count']
xtrain, xtest, ytrain, ytest = train_test_split(X_train_del, Y_test_del, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

# 建立KNN模型
knnModel = KNeighborsRegressor(n_neighbors = 7)
# 使用訓練資料訓練模型
knnModel.fit(xtrain, ytrain)
# 使用訓練資料預測
predicted= knnModel.predict(xtest)
predicted

In [ ]:
from math import sqrt
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

print("MAE:", mean_absolute_error(ytest,predicted))
print("MAPE:", mean_absolute_percentage_error(ytest,predicted))
print("RMSE:", sqrt(mean_squared_error(ytest,predicted)))